p {
    color: rgb(121, 73, 73);
}
.container {
    width: 100px;
    height: auto;
    border: 1px solid rgb(62, 165, 122);
    border-radius: 5px;
}
.info {
    width: auto;
    height: auto;
    border: 1px solid rgb(62, 165, 122);
    border-radius: 5px;
}
#wellcome {
    font-size: 30px;
    font-weight: bold inherit;
    background-color: rgb(40, 177, 51);
}